.about {
  border: 0px solid lightgray;
  min-width: 100px;
  margin-bottom: 0px;
}

.pchange:hover{
    color: white;
}

.about_right {
  border: 0px solid lightgray;
  /* background-color: #0E6E84; */
  background-color: teal;
  height: 880px;
  color: white;
  text-align: left;
  padding-top: 0px;
  padding-left: 50px;
  padding-right: 60px;
  cursor: default;
}

.about_rightimg {
  border: 0px solid rgb(8, 0, 0);
  border-radius: 50%;
  width: fit-content;
  margin: 0px 0px 0px 0px;
}

.tech {
  border: 0px solid black;
  background-color: #0e6e84;
  border-radius: 50%;
  margin: 8px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
  position: relative;
  top: 0px;
  transition: top 0.5s;
}

@media screen and (min-width: 768px) {
  .about_right {
    border: 0px solid lightgray;
    /* background-color: #045388; */
    background-color: teal;
    height: 800px;
    color: white;
    text-align: left;
    padding-top: 0px;
    padding-left: 150px;
    padding-right: 160px;
    cursor: default;
  }

  .info {
    border: 0px solid black;
    margin-top: 20px;
    padding-top: 130px;
    justify-content: center;
    text-align: left;
  }

  .tech {
    border-radius: 50%;
    margin: 18px;
    padding: 10px;
  }
}

.about_left {
  border: 0px solid lightgray;
  background-color: #FF7F50;
  margin-top: 20px;
  height: 800px;
  display: float;
}

.tech:hover {
  position: relative;
  top: -20px;
}

.tech_name {
  position: relative;
  top: 120px;
  left: -90px;
  float: left;
  color: white;
}
.pchange:hover{
    color: white;
}
.left_bar {
  border: 0px solid black;
  margin: auto;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.number {
  color: rgb(0, 11, 16);
  font-size: 18px;
}

.info {
  border: 0px solid black;
  margin-top: 20px;
  padding-top: 50px;
  justify-content: center;
  text-align: left;
}
